@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components{
  .active{
    @apply font-normal;
  }
  .btn{
    @apply p-2 rounded transition-all duration-200 text-white;
  }
  .primary{
    @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800;
  }
  .secondary{
    @apply bg-green-600 hover:bg-green-700 active:bg-green-800;
  }
  .tertiary{
    @apply bg-red-600 hover:bg-red-700 active:bg-red-800;
  }
  .quaternary{
    @apply bg-gray-400 hover:bg-gray-500 active:bg-gray-600;
  }
  ::selection{
    @apply bg-black dark:bg-white text-white dark:text-black;
  }
}

.game{
  width: 90vw;
  height: 80vh;
}
.text-nice{
  font-size: 1.6rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 100;
}
.link{
  position: relative;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.link::after{
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  background-color: rgb(18, 67, 226);
  height: 3px;
  width: 0%;
  bottom: -2px;
  left: 0px;
  transition: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}
.link:hover::after{
  width: 100%;
}
.active::after{
  width: 100%;
}

@keyframes in{
  from{opacity: 0; transform: translateY(0.5rem);}
  to{opacity: 1; transform: translateY(0);}
}
.fadein{
  animation-name: in;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes spin{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.spin{
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fade{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
.fade{
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.blink{
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

@keyframes spinScale{
  0%{transform: scale(0) rotate(0deg);}
  10%{transform: scale(0) rotate(0deg);}
  50%{transform: scale(1) rotate(720deg);}
  90%{transform: scale(0) rotate(1440deg);}
  100%{transform: scale(0) rotate(1440deg);}
}
.spinscale{
  animation-name: spinScale;
  animation-duration: 2.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}